.commandPrompt {
  width: 80%;
  color: white;
}

.separator {
  width: 90%;
  height: 3px;
  border-radius: 2px;
  margin: 15px;
  background-color: var(--light);
}

.result {
  margin: 5px;
  color: wheat;
}

.result .in {
  color: green;
}

.result .err {
  color: red;
}

.container {
  background-color: var(--dark-highlight-visible);
  padding: 5px;
}

.detailsContainer {
  overflow: hidden;
  animation: details-pop-in 20s ease-in-out forwards;
}

@keyframes details-pop-in {
  0% {
    max-height: 0;
  }

  100% {
    max-height: 10000vh;
  }
}

@media screen and (max-width: 450px) {
  .commandPrompt {
    width: 100%;
  }
}
