.background {
  position: fixed;
  top: 0;
  z-index: -1;
  background-color: var(--dark-highlight);
}

.loadingIndicator {
  position: fixed;
  z-index: 5000;
  bottom: 5px;
  right: 3%;
  padding: 5px;
  width: fit-content;
}

.loading {
  margin: 0 2px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--light);
  animation: loading 2s ease infinite;
}

.loading:nth-child(2) {
  animation-delay: 0.2s;
}
.loading:nth-child(3) {
  animation-delay: 0.4s;
}
.loading:nth-child(4) {
  animation-delay: 0.6s;
}
.loading:nth-child(5) {
  animation-delay: 0.8s;
}

@keyframes loading {
  0%,
  100% {
    transform: none;
  }

  50% {
    transform: translateY(-20px);
  }
}
