.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  height: var(--navbar-height);
  padding: 15px;
  backdrop-filter: blur(8px);
  justify-content: unset;
  border-bottom: 1px groove white;
}

.navbarController {
  top: 15px;
  left: 15px;
  height: 30px;
  width: 42px;
  position: fixed;
  z-index: 4000;
  justify-content: space-between;
  border-radius: 6px;
  padding: 5px;
  cursor: pointer;
  display: none;
}

.controllerModifier {
  width: 85%;
  height: 4px;
  background-color: white;
}

.navbarController.active {
  justify-content: center;
}
.navbarController.active .controllerModifier {
  width: 60%;
  border-radius: 8px;
  position: absolute;
}
.navbarController.active .controllerModifier:first-child {
  transform: rotateZ(45deg);
}
.navbarController.active .controllerModifier:nth-child(2) {
  opacity: 0;
}
.navbarController.active .controllerModifier:last-child {
  transform: rotateZ(-45deg);
}

.navLinkContainer {
  margin-left: 16px;
}

.navLink {
  margin: 3px 6px;
}

.link {
  z-index: 40;
  color: white;
}

.link,
.linkHover {
  font-size: 0.85rem;
  padding: 5px 8px;
}

.linkHover {
  left: 0;
  z-index: 39;
  width: auto;
  max-width: 0;
  overflow: hidden;
  display: block;
  height: fit-content;
  color: whitesmoke;
  border-radius: 3px;
  background-color: var(--content-border);
  transition: all 0.5s ease-in-out;
}

.linkHover,
.link:not(.active):hover {
  opacity: 0;
}

.link:not(.active):hover ~ .linkHover {
  max-width: 100%;
  opacity: 1;
}

.linkModifier {
  height: 3px;
  width: 100%;
  position: absolute;
  scale: 0;
  background-color: var(--content-border);
  bottom: -3px;
}

.link.active ~ .linkModifier {
  scale: 1;
}

.titleDesign {
  margin-right: 15px;
  background: linear-gradient(
    30deg,
    var(--shine-blue),
    var(--shine-mag),
    white
  );
  background-clip: text;
  width: fit-content;
  color: transparent;
}

.navButtonContainer {
  margin-left: auto;
}

.navButton {
  font-size: 0.9rem;
  padding: 6px 10px;
  border-radius: 2px;
  background: var(--content-border);
  color: whitesmoke;
}

.navButton:hover {
  box-shadow: -3px 3px 8px white;
}

@media screen and (max-width: 1000px) {
  .navbar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 350px;
    flex-direction: column !important;
    justify-content: space-between;
    padding: 80px 5px;
    transform: translateX(-100%);
  }

  .navbarController {
    display: flex;
  }

  .navbar.active {
    transform: none;
  }

  .navLinkContainer {
    flex-direction: column;
  }

  .linkModifier {
    display: none;
  }

  .link.active {
    opacity: 0;
  }

  .link.active ~ .linkHover {
    max-width: 100%;
    opacity: 1;
  }
  .navButtonContainer {
    margin: 0;
  }
  .navButton:hover {
    box-shadow: none;
  }
}

@media screen and (max-width: 450px) {
  .navbar {
    width: 100%;
    transition: all 0.3s ease-in-out;
  }

  .titleDesign::before {
    display: none;
  }

  .navButton:hover {
    box-shadow: none;
  }
}
